/* template styles */
@media screen {
	/* global styles and custom classes */
	@media screen {
		body {
			font-family: "Raleway", sans-serif;
			color: gray;
		}
		.text-goldenrod {
			color: goldenrod;
		}
		.c-rounded-1 {
			border-radius: 10px !important;
		}
		.c-rounded-2 {
			border-radius: 20px !important;
		}
		.c-rounded-3 {
			border-radius: 30px !important;
		}
		@media screen and (min-width: 576px) {
			.shadow-md-lg {
				box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
			}
		}
		@media screen and (min-width: 992px) {
			.w-lg-100 {
				width: 100% !important;
			}
		}
	}

	/* bootstrap overides */
	@media screen {
		.btn {
			transition: 0.3s !important;
		}
		.btn-primary {
			background-color: rgb(8, 15, 149);
			border-color: rgb(8, 15, 149);
		}
		.btn-primary:hover,
		.btn-primary:focus {
			background-color: rgba(8, 15, 149, 0.7);
			border-color: rgba(8, 15, 149, 0.7);
		}
		.btn-outline-secondary {
			color: goldenrod;
			border-color: goldenrod;
			font-weight: 600;
		}
		.btn-outline-secondary:hover {
			background-color: goldenrod;
			border-color: goldenrod;
		}
		.btn-check:focus + .btn,
		.btn:focus {
			box-shadow: none !important;
		}
	}

	/* page hero */
	@media screen {
		.page-hero {
			background: url("../img/herosub.png") bottom center;
			background-size: cover;
			overflow: hidden;
			position: relative;
			background-attachment: fixed;
		}
		.page-hero::before {
			content: "";
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			background: linear-gradient(
				rgba(3, 5, 32, 0.7),
				rgba(0, 0, 0, 0.2)
			);
		}
		.page-hero h1 {
			margin-top: 150px !important;
		}
		.page-hero h1,
		.page-hero h3 {
			position: relative;
		}
	}

	/* offcanvases */
	@media screen {
		#mobileNavOffcanvas {
			width: 300px;
		}
		#mobileNavOffcanvas .mobile-link {
			display: flex;
			text-decoration: none;
			align-items: center;
			background: gray;
			padding: 10px 18px;
			margin-bottom: 8px;
			transition: 0.3s;
			font-size: 15px;
			border-radius: 50px;
			color: white;
			height: 56px;
			width: 100%;
			transition: 0.3s;
		}
		#mobileNavOffcanvas .mobile-link:hover,
		#mobileNavOffcanvas .mobile-link:focus {
			background: rgb(8, 15, 149);
		}
		#mobileNavOffcanvas .offcanvas-header i {
			color: gray;
			transition: all 0.3s;
		}
		#mobileNavOffcanvas .offcanvas-header i:hover {
			color: rgb(8, 15, 149);
		}
	}

	/* header */
	@media screen {
		#header {
			transition: all 0.3s ease-in;
		}
		#header.header-scrolled {
			padding-top: 0.2rem !important;
			padding-bottom: 0.2rem !important;
			background-color: white !important;
			box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
		}
		.logo {
			border-radius: 0 20px 20px 0;
		}
		@media screen and (min-width: 1400px) {
			.logo {
				border-radius: 20px;
			}
		}
		.nav-link {
			padding: 0.2rem 0;
			margin: 0.5rem;
		}
		#header .nav-link {
			border-bottom: solid transparent;
			position: relative;
			transition: all 0.5s;
			color: rgb(161, 175, 181);
		}
		#header.header-scrolled .nav-link {
			color: gray;
		}
		#header .nav-link:hover,
		#header .nav-link:focus,
		#header .nav-link.active {
			color: white;
			border-color: goldenrod;
		}
		#header.header-scrolled .nav-link:hover,
		#header.header-scrolled .nav-link:focus,
		#header.header-scrolled .nav-link.active {
			color: gray !important;
		}
		#header.header-scrolled #nav-toggle i {
			color: gray !important;
		}
	}

	/* Footer*/
	@media screen {
		footer {
			color: white;
			font-size: 14px;
			background: rgb(4, 8, 100);
		}
		footer h4 {
			font-size: 16px;
			font-weight: bold;
			position: relative;
			padding-bottom: 12px;
		}
		footer h4::after {
			content: "";
			position: absolute;
			display: block;
			width: 20px;
			height: 2px;
			background: goldenrod;
			bottom: 0;
			left: 0;
		}
		footer a {
			transition: all 0.3s;
			color: rgb(161, 175, 181);
		}
		footer a:hover,
		footer a:focus {
			color: rgba(161, 175, 181, 0.7);
			margin-bottom: 30px;
		}
	}
}

/* home page */
@media screen {
	/*# Hero Section*/
	@media screen {
		/* #hero {
			width: 100%;
			height: 100vh;
			background: linear-gradient(
					to bottom right,
					rgba(2, 47, 52, 0.9),
					rgba(16, 3, 71, 0.8)
				),
				url("../img/home-hero.jpg") center center;
			background-size: cover;
			overflow: hidden;
			position: relative;
			background-attachment: fixed;
		} */
		#hero {
			width: 100%;
			height: 100vh;
			background: url("../img/home-hero.jpg") center center;
			background-size: cover;
			overflow: hidden;
			position: relative;
			background-attachment: fixed;
		}
		#hero:before {
			content: "";
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			background: linear-gradient(
				to bottom right,
				rgba(2, 47, 52, 0.9),
				rgba(16, 3, 71, 0.8)
			);
		}

		#hero .hero-container {
			position: absolute;
			bottom: 0;
			left: 0;
			top: 90px;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			padding: 0 15px;
		}
		@media (max-width: 991px) {
			#hero .hero-container {
				top: 70px;
			}
		}
		#hero h1 {
			color: #fff;
			font-size: 56px;
			font-weight: 600;
			text-transform: uppercase;
		}
		@media (max-width: 991px) {
			#hero h1 {
				font-size: 34px;
			}
		}
		#hero p {
			max-width: 50%;
			color: #ebebeb;
			font-weight: 700;
			font-size: 20px;
		}
		@media (max-width: 991px) {
			#hero p {
				max-width: 80%;
				font-size: 16px;
			}
		}
	}

	/* hero waves */
	@media screen {
		.hero-waves {
			display: block;
			width: 100%;
			height: 60px;
			position: relative;
		}

		.wave1 use {
			-webkit-animation: move-forever1 10s linear infinite;
			animation: move-forever1 10s linear infinite;
			-webkit-animation-delay: -2s;
			animation-delay: -2s;
		}

		.wave2 use {
			-webkit-animation: move-forever2 8s linear infinite;
			animation: move-forever2 8s linear infinite;
			-webkit-animation-delay: -2s;
			animation-delay: -2s;
		}

		.wave3 use {
			-webkit-animation: move-forever3 6s linear infinite;
			animation: move-forever3 6s linear infinite;
			-webkit-animation-delay: -2s;
			animation-delay: -2s;
		}

		@-webkit-keyframes move-forever1 {
			0% {
				transform: translate(85px, 0%);
			}
			100% {
				transform: translate(-90px, 0%);
			}
		}

		@keyframes move-forever1 {
			0% {
				transform: translate(85px, 0%);
			}
			100% {
				transform: translate(-90px, 0%);
			}
		}
		@-webkit-keyframes move-forever2 {
			0% {
				transform: translate(-90px, 0%);
			}
			100% {
				transform: translate(85px, 0%);
			}
		}
		@keyframes move-forever2 {
			0% {
				transform: translate(-90px, 0%);
			}
			100% {
				transform: translate(85px, 0%);
			}
		}
		@-webkit-keyframes move-forever3 {
			0% {
				transform: translate(-90px, 0%);
			}
			100% {
				transform: translate(85px, 0%);
			}
		}
		@keyframes move-forever3 {
			0% {
				transform: translate(-90px, 0%);
			}
			100% {
				transform: translate(85px, 0%);
			}
		}
	}

	/*# Specialties Section*/
	@media screen {
		.specialties .specialty-item {
			width: 100%;
			border-radius: 20px;
			transition: all ease-in-out 0.4s;
			background: white;
			text-align: center;
			transform: translateY(-10px);
		}
		@media screen and (max-width: 420px) {
			.specialties .specialty-item {
				width: 90%;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.specialties .specialty-item .icon i {
			color: goldenrod;
			font-size: 250%;
		}
		.specialties .specialty-item h4 a {
			color: gray;
			transition: ease-in-out 0.3s;
		}
		/*
		@media screen and (min-width: 992px){
			.specialties .specialty-item:hover {
				transform: translateY(0);
				box-shadow: none !important;
			}
			.specialties .specialty-item:hover h4 a {
				color: goldenrod;
			}
		}
		*/
	}

	/* services */
	@media screen {
		.services .service {
			padding: 30px 20px;
			margin-bottom: 30px;
			transition: all 0.3s ease;
		}
		@media screen and (max-width: 420px) {
			.services .service {
				width: 90%;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.services .service img {
			height: 60px;
			margin-bottom: 30px;
			width: 60px;
		}
		.services .service h4 {
			margin-bottom: 20px;
		}
		.services .service p {
			margin-bottom: 0;
		}
	}

	/* Cta_*/
	@media screen {
		.cta {
			background: url("../img/herosub.png") top center;
			background-size: cover;
			background-attachment: fixed;
			overflow: hidden;
			position: relative;
		}
		.cta:before {
			content: "";
			background: rgba(8, 15, 149, 0.4);
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
		}
		.cta .container {
			position: relative;
		}
		.cta h3 {
			color: #fff;
		}
	}
}

/* about page */
@media screen {
	/* features-specialties */
	@media screen {
		.features-specialties .icon-box {
			display: flex;
			align-items: center;
			padding: 20px;
			background: #f8f9fa;
			border-radius: 10px;
		}
		.features-specialties .icon-box h3 {
			font-size: 16px;
			margin: 0 !important;
		}
	}
}

/* services page */
@media screen {
	.features img {
		max-height: 300px;
	}
	@media screen and (max-width: 1400px) {
		.onfocus img {
			max-height: 300px !important;
			min-height: 250px;
		}
	}
	@media screen and (max-width: 991px) {
		.onfocus img {
			max-height: 220px !important;
			min-height: 200px;
		}
	}
	@media screen and (max-width: 600px) {
		.onfocus img {
			max-height: 170px !important;
			min-height: 150px !important;
		}
	}
	@media screen and (max-width: 400px) {
		.onfocus img {
			max-height: 150px !important;
			min-height: 130px !important;
		}
	}
	.bg4 {
		background: linear-gradient(
			to bottom right,
			rgba(6, 13, 131, 0.8),
			rgba(6, 13, 131, 0.9)
		);
		/* url("../img/good-background.jpg") center center; */
		background-size: cover;
	}
}

/* read further page */
@media screen {
	.text-inherit {
		color: inherit;
	}
	.collapse-btns.collapsed::after {
		content: "Show More";
	}
	.collapse-btns:not(.collapsed)::after {
		content: "Show Less";
	}
	.c-rounded {
		border-radius: 20px;
	}
	.feature-img {
		min-height: 250px;
		width: auto !important;
	}
	.h-fit {
		height: fit-content;
	}
	#card1 {
		background: linear-gradient(
				to bottom right,
				rgba(2, 47, 52, 0.8),
				rgba(16, 3, 71, 0.6)
			),
			url("../img/services/card1.webp") top center;
	}
	#card2 {
		background: linear-gradient(
				to bottom right,
				rgba(2, 47, 52, 0.8),
				rgba(16, 3, 71, 0.6)
			),
			url("../img/services/card2.webp") top center;
	}
	#card3 {
		background: linear-gradient(
				to bottom right,
				rgba(2, 47, 52, 0.8),
				rgba(16, 3, 71, 0.6)
			),
			url("../img/services/card3.webp") top center;
	}
	#card4 {
		background: linear-gradient(
				to bottom right,
				rgba(2, 47, 52, 0.8),
				rgba(16, 3, 71, 0.6)
			),
			url("../img/services/card4") top center;
	}
}

/* contact page */
/* branch accordion and form */
@media screen {
	#full-name {
		position: fixed;
		bottom: 0;
		right: 0;
		opacity: 0;
		width: 0;
		height: 0;
	}
	#branchAccordion .accordion-button {
		transition: all 0.3s;
	}
	#branchAccordion .accordion-button {
		color: inherit;
		border-bottom: solid transparent !important;
	}
	#branchAccordion .accordion-button:not(.collapsed) {
		color: inherit;
		background-color: inherit;
		box-shadow: none;
		border-color: gray !important;
	}
	#branchAccordion .accordion-button:focus {
		border-color: gray;
		box-shadow: none;
	}
	#branchAccordion .accordion-button:hover {
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	}
	#branchAccordion .accordion-button:not(.collapsed)::after {
		filter: grayscale(100%);
		transform: rotate(-180deg);
	}
	#branchAccordion .branch-map {
		height: 280px;
	}
	.word-break {
		word-break: break-all;
	}
}

/* preloader */
@media screen {
	/*--------------------------------------------------------------
		# Preloader
		--------------------------------------------------------------*/
	#preloader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		overflow: hidden;
		background: white;
	}
}
